.social-icons {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 3rem;
  z-index: 3;
}

.social-icon {
  margin: 5px;
}

.social-icon a {
  color: var(--textColor);
}

.social-icon a:hover {
  color: var(--accent);
}

.social-icons-line {
  width: 2px;
  height: 8rem;
  margin-top: 10px;
  background-color: var(--textColor);
}

/* Media query - Medium devices  */
@media screen and (max-width: 1024px) {
  .social-icons {
    left: 1rem;
  }

}

/* Media query - Small devices */
@media screen and (max-width: 600px) {
  .social-icons{
    display: none;
  }
}