.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about__me {
  width: 100%;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
}

.about__content > .text__primary {
  color: var(--primaryColor);
}

.about__content > .text__secondary {
  color: var(--secondaryColor);
}

.about__content > .text__main {
  color: var(--textColor);
}

/* About Image */
.about__image {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  opacity: .4;
}

.about__me-image {
  overflow: hidden;
}

.about__image:hover {
  opacity: 1;
  transition: var(--transition);
}

.shape-outer {
  display: flex;
  flex-shrink: 0;
  margin: 25px;
  background: var(--accent);
}

.shape-inner {
  background: var(--secondaryColor);
  background-size: cover;
  margin: auto;
}

.sign-right {
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.shape-inner {
  height: calc(100% - .5rem);
  width: calc(100% - .5rem);
  background-size: cover;
  margin: auto;
}

/* Media query - Medium devices  */
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
  }

  .sign-right {
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
}

/* Media query - Small devices */
@media screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    margin: 0 auto;
  }

  .about__content p {
    margin: 1.5rem 0;
  }

  .sign-right {
      -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  }
}