.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 50px 0 50px;
  font-family: 'Roboto Mono', monospace;
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: var(--background);
}

.header__logo span {
  display: inline-block;
  margin-right: -10px;
}

.header__logo-initial {
  font-size: 40px;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  color: var(--color);
}

.header__logo-latter {
  font-size: 40px;
  color: var(--color);
}

.header__nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__nav ul li {
  display: inline;
  margin: 20px;
  font-size: 14px;
}

.header__nav ul li a {
  text-decoration: none;
}

.header__nav-number {
  color: var(--accent);
}

.header__nav-name {
  color: var(--color);
}

.header__nav ul li a:hover > .header__nav-name {
  color: var(--accent);
}

.header__theme-icon {
  color: var(--color);
  font-size: 2rem !important;
}

.header__theme-icon:hover {
  cursor: pointer;
  color: var(--accent);
}

.header__theme__secondary {
  position: absolute;
  top: 80px;
  right: 60px;
}

.header__theme__secondary-arrow {
  color: var(--color);
}

.header__theme__secondary-animation {
  animation: shake 5s ease infinite;
  display: flex;
}

.header__theme__secondary-text {
  color: var(--color);
  padding: 4px;
  background-color: var(--background) !important;
  font-size: .7rem;
  margin: 2px 11px;
  width: 130px;
}

.nav-toggle {
  background: transparent;
  cursor: pointer;
  position: relative;
  display: none;
  border: 0;
}

.nav-toggle:hover > .hamburger::after {
  background: var(--accent);
}

.nav-toggle:hover > .hamburger::before {
  background: var(--accent);
}

.nav-toggle:hover > .hamburger {
  background: var(--accent);
}

.hamburger {
  display: block;
  background: var(--color);
  width: 100%;
  height: 3px;
  position: relative;
  border-radius: 2em;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background: var(--color);
    width: 100%;
    height: 3px;
    border-radius: 2em;
}
.hamburger::before { top: 10px; }
.hamburger::after { bottom: 10px; }

@keyframes shake {
  0%        { transform:translate(0,0) }
  1.78571%  { transform: translate(-1px, -2px) rotate(-1deg) }
  3.57143%  { transform: translate(-3px, 0px) rotate(1deg) }
  5.35714%  { transform: translate(3px, 2px) rotate(0deg) }
  7.14286%  { transform: translate(1px, -1px) rotate(1deg) }
  8.92857%  { transform: translate(-1px, 2px) rotate(-1deg) }
  10.71429% { transform: translate(-3px, 1px) rotate(0deg) }
  12.71429% { transform: translate(2px, 1px) rotate(-1deg) }
  14.71429% { transform: translate(0px, 1px) rotate(0deg) }
  100%      { transform:translate(0,0) }
}




/* Media query - Medium devices  */
@media screen and (max-width: 1024px) {
 .header__nav ul {
   display: none;
 }

 .nav-toggle {
    display: block;
 }

 .header__theme__secondary {
    display: none;
 }

 .header__logo {
   padding-right: 50px;
   display: flex;
 }

 .header__theme {
  padding-left: 50px;
}
}

/* Media query - Small devices */
@media screen and (max-width: 600px) {

}